.page {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  background-color: $basic-white;
}

.page__body {
  width: $desktop-width;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $page-bg;

  @media (max-width: ($desktop-width - 1px)) {
    width: 100%;
  }
}

.page__container {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.page__container--footer {
  min-height: 100px;
}
