$basic-white: #ffffff;
$page-bg: #c0dbd9;
$main-bg: #7faff6;
$block-1-bg: #b3f95a;
$block-1-item: #8ad191;
$block-2-bg: #88b5bf;
$block-2-item: #0d89b0;
$header-link-bg: #a5c7f9;
$popup-close-bg: #7faff6;
$basic-black: #000000;
